<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Customer</title>
    <style>
        .error {color: #ff0000}
        table {width: 20%}
    </style>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/add-customer-style.css}" />
</head>
<body>

<div id="wrapper">
    <div id="header">
        <h2>Customer Manager</h2>
    </div>
</div>

<div id="container">
    <h3>Save Customer</h3>
    <form th:action="saveCustomer" th:object=${customer} method="POST">
        <input type="hidden" th:field="*{id}" />
        <table>
            <tbody>
            <tr>
                <td><label>First Name:</label></td>
                <td><input type="text" th:field="*{firstName}" placeholder="John"/></td>
                <td class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" cssClass="error"></td>
            </tr>
            <tr>
                <td><label>Last Name:</label></td>
                <td><input type="text" th:field="*{lastName}" placeholder="Doe"/></td>
                <td class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" cssClass="error"></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" th:field="*{email}" placeholder="john@mail.com"/></td>
                <td class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" cssClass="error"></td>
            </tr>
            <tr>
                <td><label>Address:<br></label></td>
                <td><input type="text" th:field="*{address}" placeholder="City, Country"/></td>
                <td class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" cssClass="error"></td>
            </tr>
            <tr>
                <td><label></label></td>
                <td><input type="submit" value="Save" class="save"/></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div style="clear:both"></div>
    <p>
        <a th:href="@{/customer/list}">Back To List</a>
    </p>
</div>

</body>
</html>